.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 90%;
}

th {
    position: sticky;
    top: 0;
    background-color: #ffffff;
}

.filter {
    margin-left: 5%;
}