<div>
    <mat-form-field appearance="standard" class="filter">
        <mat-label>Filter</mat-label>
        <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>

    <div class="container">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>

            <ng-container matColumnDef="flight_number">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Flight Number </th>
                <td mat-cell *matCellDef="let row"> {{row.flight_number}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                <td mat-cell *matCellDef="let row"> {{row.date_utc}} </td>
            </ng-container>

            <ng-container matColumnDef="success">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Success </th>
                <td mat-cell *matCellDef="let row"> {{row.success}} </td>
            </ng-container>

            <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Details </th>
                <td mat-cell *matCellDef="let row">
                    <mat-icon color="primary" [routerLink]="['/details', row.id]">
                        description
                    </mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter {{input}}</td>
            </tr>
        </table>

        <mat-paginator [length]="this.dataSource.data.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
        </mat-paginator>
    </div>
</div>