.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content {
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}

h2{
    text-align: center;
}

span{
    display: flex;
    justify-content: center;
}

.login-card {
    width: 300px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    background-color: #aa6bfa;
    padding: 20px;
    border-radius: 25px;
}

.login-button {
    justify-content: right;
    align-content: center;
    text-align: center;
 }

